.image-home {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* padding-bottom: 100%; */
  border-radius: 5%;
  
}

.image-container {
  position: relative;
  height: 24rem;  
  /* padding-bottom: 100%; */
  width: 100%;
  
}

.icon-md {
  color: white;
  font-size: 2rem;
}


.icon-profile-md {
  
  font-size: 7rem;
}

.like-form {
  position: absolute;
  top: 4%;
  left: 83%;
}

.icon-sm {
  font-size: 2rem;
}

.search-box {
  width: 50%;
}

.icon-img {
  position: absolute;
  top: 50%;
  left: 84%;
  font-size: 2.5rem;
  color: white;
  display: none;
}

.profile-card {
  border-radius: 20px;
}

.create-profile {
  margin-top: 25vh;
}