.image-home {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 5%;
  
}

.image-container {
  position: relative;
  border: black;
  height: 24rem;  
  width: 100%;
}

.icon-md {
  color: white; /* アイコンの中身の色 */
  font-size: 2rem;
}

.like-form {
  position: absolute;
  top: 4%;
  left: 83%;
}

.icon-sm {
  font-size: 2rem;
}

.search-box {
  width: 50%;
}

.icon-img {
  position: absolute;
  top: 50%;
  left: 84%;
  font-size: 2.5rem;
  color: white;
  display: none;
}